    
<link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='css/resume.css') }}"> 


<!--Top BarSearch Box-->
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Return to homepage</a>
      </li>
    </ul>
  </div>
<!-- content section--> 
    <div class="h1-container">
        <h1>Banafsheh Golpour</h1> 
    </div>
    <div class="right-after-h1">        
        <h2>PhD, EMBA</h2>
    </div>
    <hr>
    <div >
        <h3 class="HIGHLIGHTS">Highlights</h3>
        <ul>
            <li class="under-HIGHLIGHTS">Proficient (4+ yr experience) in Market Research and Marketing Management</li>
            <li class="under-HIGHLIGHTS">Hands-on experience (1 yr) in Consumer Behavior Analysis and Machine Learning</li>
            <li class="under-HIGHLIGHTS">Solid knowledge in Financial modeling and programming concepts</li>
            <li class="under-HIGHLIGHTS">Outstanding coordination skills and experienced in managing multiple tasks simultaneously in multi-disciplinary environments</li>
            <li class="under-HIGHLIGHTS">Excellent interpersonal, organizational, effective verbal and written communication skills</li>
            <li class="under-HIGHLIGHTS">Fast learner, self-motivated, team player and detail-oriented</li>
        </ul>
    </div>
    <div>
        <h3 class="HIGHLIGHTS">WORKING EXPERIENCE</h3>
        <h4 class="after-Highlights">Data Analysis and Machine Learning (ML) Researcher – University of Toronto, ON</h4>
        <h5 class="after-Highlights-2">Engineering Innovation and Entrepreneurship Department</h5>
        <p class="text">
            As a Data Science Researcher, I worked on multiple data analysis and ML projects, including Sentiment Analysis, Canada
            Immigration Pull Factors, and ETL (Extract, Transform, Load) projects. In these projects, I extracted large datasets from
            multiple data sources using the web-scraping techniques. The data was used to train the Machine to classify the users’
            sentiments/behaviors. The generated ML model was then used to predict user behaviors in the future. I used Python, Matplotlib,
            and Numpy to generate the model and HTML to present the results on a webpage
        </p>
    </div>
    <div>
        <h4 class="after-Highlights">Marketing Manager – Grohe, Tehran, Iran</h4>
        <h5 class="after-Highlights-2">Commercial Department</h5>
        <p class="text">
            As a Marketing Manager, I identified the market capacity for German water products, assessed consumer knowledge,
            and planned marketing strategies accordingly, which resulted in an increase of 35% in product knowledge in the
            first 3 months and 100% in the following 9 months (according to online and in-person surveys). Meanwhile, I 
            planned and managed the after-sales services, which resulted in an increase of 50,000 Euro in the company’s
            income and consumers’ satisfaction, in less than 3 months. Also, I designed an inventory system that increased
            the process efficiency by reducing the order processing time.
        </p>
    </div>
    <div>
        <h4 class="after-Highlights">University Lecturer - Science and Research Azad University of, Iran </h4>
        <p class="text">
            As a Lecturer, I presented the following four courses in different University Faculties: General Marketing, Research Method,
            Marketing Strategies, Market Research
        </p>
    </div>
    <div>
        <h3 class="HIGHLIGHTS">EDUCATION & PROFESSIONAL DESIGNATIONS</h3>
        <ul id="final-div">
            <li class="under-HIGHLIGHTS">Ph.D., Doctor of Business Administration - Azad U of Tehran, Iran</li>
            <li class="under-HIGHLIGHTS">EMBA, Executive Master of Business Administration - Azad U of Tehran, Iran</li>
            <li class="under-HIGHLIGHTS">English Translation - Azad U of Tehran, Iran</li>
            <li class="under-HIGHLIGHTS">Certificate of the forum of international trade training (FITT)</li>
        </ul>
    </div>
    <script>
        alert("This is my resume.");
    </script>
   